{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
      "document": true
  },
  "rules": {
    "no-underscore-dangle": [
      1
    ],
    "react/prefer-stateless-function": [
      0
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"],
      }
    ]
  }
}
