.NewsyTextEditor {
  height: 100%;
  padding: 50px;
  flex: 1;
  font-size: 20px;
  border: 1px solid #eee;
}


.Block-Widget {
  background: red;
  display: block;
  width: 100px;
  height: 100px;
}


.NewsyTextEditor h2 {
  font-family: 'Times New Roman', Georgia, serif;
  font-weight: bold;
  line-height: 60px;
  font-size: 50px;
}

.NewsyTextEditor p {
  font-family: 'Times New Roman', Georgia, serif;
  font-weight: normal;
  line-height: 30px;
  font-size: 20px;
}

.NewsyTextEditor .dropcap {
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
}
